{
  "swagger": "2.0",
  "info": {
    "title": "Firmaradar API",
    "version": "0.5.1",
    "description": "Berikelsesplattform for norsk selskaps-intelligens — multi-kilde-fusjon\n(BRREG + Skatteetaten + utenlandske PEP/sanksjoner + …) med beslutningsklar\nberiking for KYC, AML-screening, kreditt-analyse og eierskaps-/risiko-innsikt.\n\nEnglish: Enrichment platform for Norwegian company intelligence —\nmulti-source fusion (BRREG + Skatteetaten + foreign PEP/sanctions + …)\ndelivering decision-ready insights for KYC, AML screening, credit analysis\nand ownership/risk intelligence, not raw registry records.\n\nAlle endepunkter krever autentisering (OAuth 2.0 eller API-key).\nSe `/api/v1/doc` for full feltbeskrivelse per endepunkt.\n",
    "contact": {
      "name": "Firmaradar support",
      "url": "https://firmaradar.no/kontakt",
      "email": "support@firmaradar.no"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "firmaradar.no",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "BearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "API-nøkkel sendt som Bearer token"
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "Norsk feilmelding ment for sluttbruker / agent."
        },
        "error_code": {
          "type": "string",
          "description": "Stabil maskinlesbar feilkode (når tilgjengelig)."
        }
      },
      "required": [
        "error"
      ]
    },
    "Company": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string",
          "description": "9-sifret norsk organisasjonsnummer.",
          "example": "923609016"
        },
        "navn": {
          "type": "string",
          "example": "Equinor ASA"
        },
        "organisasjonsform": {
          "type": "string",
          "description": "BRREG-organisasjonsform-kode (AS, ASA, ENK, ...)."
        },
        "konsernstruktur": {
          "type": "object",
          "description": "Konsern-tre med morselskap + døtre."
        },
        "eiere": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Owner"
          }
        },
        "tildelinger": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "brreg_tildelinger": {
          "type": "object"
        },
        "endringer": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Announcement"
          }
        },
        "financial_metrics": {
          "$ref": "#/definitions/FinancialMetrics"
        },
        "foretaksklassifisering": {
          "type": "object"
        },
        "summary": {
          "type": "string",
          "description": "LLM-vennlig kort oppsummering."
        }
      },
      "required": [
        "orgnr"
      ]
    },
    "Owner": {
      "type": "object",
      "properties": {
        "navn": {
          "type": "string"
        },
        "orgnr": {
          "type": "string",
          "description": "For business owners — eierens orgnr."
        },
        "owner_person_key": {
          "type": "string",
          "description": "For personlige eiere — stabil nøkkel for /person/shareholdings."
        },
        "eierandel_prosent": {
          "type": "number",
          "format": "float"
        },
        "antall_aksjer": {
          "type": "integer"
        },
        "type": {
          "type": "string",
          "enum": [
            "business",
            "person",
            "foreign",
            "unknown"
          ]
        }
      }
    },
    "Role": {
      "type": "object",
      "properties": {
        "rolle_type": {
          "type": "string",
          "description": "BRREG-rolle-beskrivelse (Styreleder, Daglig leder, ...)."
        },
        "navn": {
          "type": "string"
        },
        "fodselsaar": {
          "type": "string",
          "description": "4-sifret fødselsår, eller null."
        },
        "fra_dato": {
          "type": "string",
          "format": "date"
        },
        "til_dato": {
          "type": "string",
          "format": "date"
        },
        "signatur_alene": {
          "type": "boolean"
        },
        "is_active": {
          "type": "boolean"
        }
      }
    },
    "FinancialMetrics": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string"
        },
        "regnskapstype": {
          "type": "string",
          "enum": [
            "SELSKAP",
            "KONSERN"
          ]
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FinancialYear"
          }
        },
        "freshness": {
          "type": "object"
        }
      }
    },
    "FinancialYear": {
      "type": "object",
      "properties": {
        "regnskapsar": {
          "type": "integer"
        },
        "omsetning": {
          "type": "number"
        },
        "driftsresultat": {
          "type": "number"
        },
        "aarsresultat": {
          "type": "number"
        },
        "sum_egenkapital": {
          "type": "number"
        },
        "sum_gjeld": {
          "type": "number"
        },
        "sum_eiendeler": {
          "type": "number"
        },
        "antall_ansatte": {
          "type": "integer"
        }
      }
    },
    "Announcement": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string"
        },
        "navn": {
          "type": "string"
        },
        "dato": {
          "type": "string",
          "format": "date"
        },
        "kunngjoring_type": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "hendelse_type": {
          "type": "string"
        },
        "niva1_label": {
          "type": "string"
        }
      }
    },
    "PersonHit": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "birth_year": {
          "type": "string",
          "description": "Maskert til 4-sifret år eller null."
        },
        "owner_person_key": {
          "type": "string"
        },
        "role_person_id": {
          "type": "string"
        },
        "poststed": {
          "type": "string"
        },
        "antall_selskaper": {
          "type": "integer"
        }
      }
    },
    "PersonProfile": {
      "type": "object",
      "properties": {
        "owner_person_key": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "birth_year": {
          "type": "string"
        },
        "poststed": {
          "type": "string"
        },
        "shareholdings": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "total_ownership_value_nok": {
          "type": "number"
        }
      }
    },
    "RolePersonProfile": {
      "type": "object",
      "properties": {
        "role_person_id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "birth_year": {
          "type": "string"
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Role"
          }
        }
      }
    },
    "CompanyHit": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string"
        },
        "navn": {
          "type": "string"
        },
        "organisasjonsform": {
          "type": "string"
        },
        "naeringskode": {
          "type": "string"
        },
        "kommune": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "antall_ansatte": {
          "type": "integer"
        }
      }
    },
    "CompanySearchResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CompanyHit"
          }
        },
        "next_cursor": {
          "type": "string"
        },
        "total_count": {
          "type": "integer"
        }
      }
    },
    "CompareRequest": {
      "type": "object",
      "properties": {
        "orgnrs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 1,
          "maxItems": 5
        },
        "years": {
          "type": "integer",
          "minimum": 1,
          "maximum": 10,
          "default": 5
        },
        "metrics": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "omsetning",
              "driftsresultat",
              "aarsresultat",
              "sum_egenkapital",
              "sum_gjeld",
              "antall_ansatte"
            ]
          }
        }
      },
      "required": [
        "orgnrs"
      ]
    },
    "CompareResponse": {
      "type": "object",
      "properties": {
        "orgnrs": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "years": {
          "type": "array",
          "items": {
            "type": "integer"
          }
        },
        "companies": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "orgnr": {
                "type": "string"
              },
              "navn": {
                "type": "string"
              },
              "financials_by_year": {
                "type": "object"
              }
            }
          }
        },
        "comparison": {
          "type": "object",
          "description": "{<metric>: {<orgnr>: [<value_per_year>]}}"
        },
        "computed_at": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "OwnershipResponse": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string"
        },
        "direction": {
          "type": "string",
          "enum": [
            "down",
            "up",
            "both"
          ]
        },
        "depth": {
          "type": "integer"
        },
        "owners": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Owner"
          }
        },
        "holdings": {
          "type": "object"
        }
      }
    },
    "RolesResponse": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string"
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Role"
          }
        },
        "total_count": {
          "type": "integer"
        },
        "cached": {
          "type": "boolean"
        }
      }
    },
    "SignalsResponse": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string"
        },
        "days_back": {
          "type": "integer"
        },
        "kyc_signals": {
          "type": "object"
        },
        "distress": {
          "type": "object"
        },
        "interim_balance": {
          "type": "object"
        },
        "aggregate": {
          "type": "object"
        }
      }
    },
    "AmlCheckRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "minLength": 2,
          "maxLength": 200
        },
        "birth_year": {
          "type": "integer",
          "minimum": 1900,
          "maximum": 2100
        },
        "kategori": {
          "type": "string",
          "enum": [
            "sanksjon",
            "pep",
            "both"
          ],
          "default": "both"
        },
        "min_match_ratio": {
          "type": "number",
          "minimum": 0,
          "maximum": 1,
          "default": 0.85
        }
      },
      "required": [
        "name"
      ]
    },
    "AmlHit": {
      "type": "object",
      "properties": {
        "primart_navn": {
          "type": "string"
        },
        "kategori": {
          "type": "string"
        },
        "entitet_type": {
          "type": "string"
        },
        "kilder": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "match_ratio": {
          "type": "number"
        },
        "match_type": {
          "type": "string",
          "enum": [
            "eksakt",
            "fuzzy"
          ]
        },
        "ekstern_id": {
          "type": "string"
        }
      }
    },
    "AmlCheckResponse": {
      "type": "object",
      "properties": {
        "query_name": {
          "type": "string"
        },
        "query_birth_year": {
          "type": "integer"
        },
        "hits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AmlHit"
          }
        },
        "hit_count": {
          "type": "integer"
        }
      }
    },
    "AmlScoreRequest": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string"
        },
        "purpose": {
          "type": "string",
          "description": "DPA-formål for AML-screening (eks. `kyc_onboarding`).\n"
        }
      },
      "required": [
        "orgnr"
      ]
    },
    "AmlScoreResponse": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string"
        },
        "rapport_id": {
          "type": "string"
        },
        "score": {
          "type": "number"
        },
        "level": {
          "type": "string",
          "enum": [
            "low",
            "medium",
            "high",
            "critical"
          ]
        },
        "factors": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "NaceCompaniesResponse": {
      "type": "object",
      "properties": {
        "nace_code": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CompanyHit"
          }
        },
        "next_cursor": {
          "type": "string"
        },
        "total_count": {
          "type": "integer"
        }
      }
    },
    "RelatedCompaniesResponse": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string"
        },
        "via": {
          "type": "string",
          "enum": [
            "person",
            "address"
          ]
        },
        "related": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "orgnr": {
                "type": "string"
              },
              "navn": {
                "type": "string"
              },
              "relation_strength": {
                "type": "integer"
              },
              "shared_entities": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        },
        "total_count": {
          "type": "integer"
        }
      }
    },
    "AnnouncementsSearchResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Announcement"
          }
        },
        "next_cursor": {
          "type": "string"
        },
        "filter": {
          "type": "object"
        }
      }
    },
    "RiskScoreResponse": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string"
        },
        "score": {
          "type": "integer",
          "minimum": 0,
          "maximum": 100
        },
        "level": {
          "type": "string",
          "enum": [
            "lav",
            "moderat",
            "høy",
            "kritisk"
          ]
        },
        "components": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "sources": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FivResponse": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "NUES a-e-status, eks. `not_distressed`, `distressed`."
        },
        "score": {
          "type": "number"
        },
        "rules_fired": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "confidence": {
          "type": "number"
        },
        "as_of": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "KonsernStotteOversikt": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string"
        },
        "selskap_stotte": {
          "type": "object",
          "description": "Direkte støtte til orgnr (post-#134-skjema).\nDirect grants to the orgnr (post-#134 shape).\n"
        },
        "konsern_aggregat": {
          "type": "object",
          "description": "Aggregert konsern-støtte oppover i eier-tre.\nAggregated group-level support.\n"
        },
        "tildelinger": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "FinancialHistoryResponse": {
      "type": "object",
      "properties": {
        "orgnr": {
          "type": "string"
        },
        "regnskapstype": {
          "type": "string",
          "enum": [
            "SELSKAP",
            "KONSERN"
          ]
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FinancialYear"
          }
        },
        "freshness": {
          "type": "object"
        }
      }
    }
  },
  "responses": {
    "BadRequest": {
      "description": "Ugyldig request (manglende eller feilformatert parameter)",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "Unauthorized": {
      "description": "Manglende eller ugyldig autentisering",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "Forbidden": {
      "description": "Autentisert, men ikke autorisert (manglende tilgangs-flagg)",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "NotFound": {
      "description": "Ressursen ble ikke funnet",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "ServerError": {
      "description": "Intern feil — prøv igjen, eller kontakt support",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  },
  "tags": [
    {
      "name": "Selskap",
      "description": "Selskaps-data fra BRREG + lokal beriking (regnskap, eierskap, roller).\nCompany data from the Norwegian register with local enrichment.\n"
    },
    {
      "name": "Person",
      "description": "Aksjonær- og rolle-personer (16-årsgrense, fødselsår-maskering).\nPerson shareholders and role holders (16-year minimum, birth-year masked).\n"
    },
    {
      "name": "Risiko",
      "description": "Risikoscoring, foretak-i-vanskeligheter, kunngjørings-signaler.\nRisk scoring, financial-distress assessment, change signals.\n"
    },
    {
      "name": "Bransje",
      "description": "NACE-baserte bransjelister og felles-nettverk-relasjoner.\nIndustry (NACE) lists and shared-network discovery.\n"
    },
    {
      "name": "AML",
      "description": "Sanksjons/PEP-screening + AML-rapporter (krever DPA).\nSanctions/PEP screening + AML reports (DPA required).\n"
    },
    {
      "name": "Markedsplass",
      "description": "Markedsplass-utvidelser eksponert via MCP/Power Automate\n(risikoscoring, FIV, konsernstøtte, AML-rapport).\nMarketplace extensions exposed via MCP / Power Automate.\n"
    }
  ],
  "paths": {
    "/api/v1/company/{orgnr}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Hent full selskaps-profil",
        "description": "Hent full selskap-data: gruppe-struktur, eiere, tildelinger,\nkunngjøringer og regnskaps-metrics i ett kall.\n\nEnglish: Returns full company data — group structure, owners,\ngrants, BRREG announcements and financial-metrics in one call.\nUse the `fields` parameter to restrict the response.\n",
        "tags": [
          "Selskap"
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "description": "9-sifret organisasjonsnummer.",
            "type": "string",
            "pattern": "^\\d{9}$"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Komma-separert subset, eks.\n`group,owners,grants,changes,financial_metrics`.\n",
            "type": "string"
          },
          {
            "name": "owners",
            "in": "query",
            "type": "string",
            "enum": [
              "business",
              "full"
            ]
          },
          {
            "name": "grants",
            "in": "query",
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          {
            "name": "brreg_grants",
            "in": "query",
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          {
            "name": "financial_metrics",
            "in": "query",
            "type": "integer",
            "enum": [
              0,
              1
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/company/{orgnr}/ownership": {
      "get": {
        "operationId": "getCompanyOwnership",
        "summary": "Eier-tre (nedover, oppover, eller begge)",
        "description": "Eier-tre for et selskap. `direction=down` viser hvem som eier\nselskapet, `up` viser UBO-traversal oppover, og `both` returnerer\nbegge i én respons.\n\nEnglish: Returns the ownership tree for the company.\n",
        "tags": [
          "Selskap"
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^\\d{9}$"
          },
          {
            "name": "direction",
            "in": "query",
            "type": "string",
            "enum": [
              "down",
              "up",
              "both"
            ],
            "default": "down"
          },
          {
            "name": "depth",
            "in": "query",
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 5
          },
          {
            "name": "include_persons",
            "in": "query",
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "default": 0
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OwnershipResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/company/{orgnr}/roles": {
      "get": {
        "operationId": "getCompanyRoles",
        "summary": "Roller (styre, daglig leder, signatur)",
        "description": "Henter BRREG-roller (styreleder, daglig leder, signatur, prokura,\nrevisor) for et selskap. Cache-miss trigger synkron BRREG-fetch.\n\nEnglish: Returns BRREG roles for the company.\n",
        "tags": [
          "Selskap"
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^\\d{9}$"
          },
          {
            "name": "include_historic",
            "in": "query",
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "default": 0
          },
          {
            "name": "role_type",
            "in": "query",
            "type": "string",
            "enum": [
              "styreleder",
              "styremedlem",
              "varamedlem",
              "daglig_leder",
              "signatur",
              "prokura",
              "revisor"
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RolesResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          },
          "503": {
            "description": "BRREG midlertidig utilgjengelig",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/company/{orgnr}/changes": {
      "get": {
        "operationId": "getCompanyChanges",
        "summary": "BRREG-kunngjøringer + nylige endringer",
        "description": "Kombinert endepunkt: brukes både for `get_company_announcements`\nog `get_recent_changes` MCP-tools. Returnerer BRREG-kunngjøringer\n(konkurs, fusjon, signatur-endringer, ...) for et selskap.\n\nEnglish: Combined endpoint for company announcements and recent\nchanges — used by both MCP tools.\n",
        "tags": [
          "Selskap",
          "Risiko"
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^\\d{9}$"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Announcement"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          },
          "502": {
            "description": "BRREG-kunngjøringsoppslag feilet",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/person/search": {
      "get": {
        "operationId": "searchPersons",
        "summary": "Søk etter personer (aksjonærer + rolleholdere)",
        "description": "Søk etter aksjonærer og rolleholdere på navn. Krever\n`search_full_enabled`-tilgang. Mindreårige filtreres bort\n(unntak: super-admin).\n\nEnglish: Search for person shareholders and role holders by name.\n",
        "tags": [
          "Person"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "minLength": 2
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 30
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string"
                },
                "shareholders": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PersonHit"
                  }
                },
                "shareholders_count": {
                  "type": "integer"
                },
                "role_persons": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PersonHit"
                  }
                },
                "role_persons_count": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/person/roles/{role_person_id}": {
      "get": {
        "operationId": "getPersonRoles",
        "summary": "Hent en rolle-persons komplette rolle-historikk",
        "description": "Returnerer alle roller (aktive + historiske) som en person har\ninnehatt på tvers av selskap. Krever `search_full_enabled`.\n\nEnglish: Returns complete role history for a person across companies.\n",
        "tags": [
          "Person"
        ],
        "parameters": [
          {
            "name": "role_person_id",
            "in": "path",
            "required": true,
            "description": "Stabil rolle-person-nøkkel.",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RolePersonProfile"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/person/shareholdings/{owner_person_key}": {
      "get": {
        "operationId": "getPersonCompanies",
        "summary": "Hent en persons aksjebeholdninger",
        "description": "Returnerer alle selskaper en person eier aksjer i, med\neierandeler og aksjeverdier. Krever `search_full_enabled`.\n\nEnglish: Returns all shareholdings owned by a person.\n",
        "tags": [
          "Person"
        ],
        "parameters": [
          {
            "name": "owner_person_key",
            "in": "path",
            "required": true,
            "description": "Stabil owner-person-nøkkel.",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonProfile"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/company/{orgnr}/signals": {
      "get": {
        "operationId": "getCompanySignals",
        "summary": "Aggregerte risiko-signaler (KYC + distress + mellombalanse)",
        "description": "Aggregerer 3 kilder: KYC-kunngjørings-signaler (konkurs, fusjon,\nstyreendring), distress-klassifisering (FIV-vurdering basert\npå regnskap), og mellombalanse-status.\n\nEnglish: Aggregated risk signals (KYC announcements + FIV +\ninterim balance) for the company.\n",
        "tags": [
          "Risiko"
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^\\d{9}$"
          },
          {
            "name": "since",
            "in": "query",
            "description": "ISO-dato (YYYY-MM-DD). Overstyrer default 730 dager bakover.\nCappes til 1825 dager.\n",
            "type": "string",
            "format": "date"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SignalsResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/aml/check": {
      "post": {
        "operationId": "checkAmlPep",
        "summary": "AML/PEP-screening (krever DPA-headers)",
        "description": "Søk en person mot sanksjons- og PEP-lister. Krever signert DPA\n+ per-call-bekreftelse via headers. Per-endpoint rate-limit:\n50 calls / 30 min. Audit-rad lagres for hver request\n(60 mnd retention).\n\nEnglish: Sanctions/PEP screening against a person. Requires\nsigned DPA + per-call confirmation via headers.\n",
        "tags": [
          "AML"
        ],
        "parameters": [
          {
            "name": "X-FR-Purpose",
            "in": "header",
            "required": true,
            "description": "Fri-tekst formålsangivelse (eks. \"KYC av ny kunde acme-as\").\n",
            "type": "string",
            "maxLength": 500
          },
          {
            "name": "X-FR-DPA-Confirmed",
            "in": "header",
            "required": true,
            "description": "Må være `true`.",
            "type": "string",
            "enum": [
              "true"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmlCheckRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AmlCheckResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "description": "Manglende DPA-headers",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "429": {
            "description": "AML-rate-limit overskredet",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "$ref": "#/responses/ServerError"
          },
          "503": {
            "description": "AML-repo midlertidig utilgjengelig",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/aml/score": {
      "post": {
        "operationId": "getAmlScore",
        "summary": "Generer AML-rapport + score (Alternativ A — to-kall-flow)",
        "description": "Genererer AML-rapport for et selskap og returnerer strukturert\nscore, level og faktor-breakdown. Internt to-kall-flow\n(generer → rapport).\n\nEnglish: Generates an AML report and returns score/level/factors.\n",
        "tags": [
          "AML",
          "Markedsplass"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmlScoreRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AmlScoreResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/nace/{code}/companies": {
      "get": {
        "operationId": "listCompaniesInNace",
        "summary": "List selskap med en gitt NACE-kode",
        "description": "Returnerer selskap med en gitt NACE-kode (prefix-match).\nCursor-pagination med opaque base64-JSON-tokens.\n\nEnglish: Lists companies for a given NACE code (prefix match).\n",
        "tags": [
          "Bransje"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "description": "NACE-kode eller prefix (eks. `47`, `47.11`, `47.110`).",
            "type": "string",
            "pattern": "^\\d{2}(?:\\.\\d{1,3})?$"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "enum": [
              "aktiv",
              "konkurs",
              "under_avvikling",
              "avregistrert"
            ]
          },
          {
            "name": "kommune",
            "in": "query",
            "type": "string",
            "pattern": "^\\d{4}$"
          },
          {
            "name": "min_ansatte",
            "in": "query",
            "type": "integer",
            "minimum": 0
          },
          {
            "name": "max_ansatte",
            "in": "query",
            "type": "integer",
            "minimum": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string"
          },
          {
            "name": "include_total",
            "in": "query",
            "type": "integer",
            "enum": [
              0,
              1
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NaceCompaniesResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/company/{orgnr}/related": {
      "get": {
        "operationId": "findRelatedCompanies",
        "summary": "Finn relaterte selskap (felles personer eller adresse)",
        "description": "Finn selskap som deler personer (rolleholdere) eller forretnings-\nadresse med kilde-selskapet. `via=owner` deferreres til v0.3.\n\nEnglish: Find companies sharing persons or address with the source.\n",
        "tags": [
          "Bransje"
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^\\d{9}$"
          },
          {
            "name": "via",
            "in": "query",
            "type": "string",
            "enum": [
              "person",
              "address"
            ],
            "default": "person"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 25
          },
          {
            "name": "min_overlap",
            "in": "query",
            "type": "integer",
            "minimum": 1,
            "default": 1
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RelatedCompaniesResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/announcements/search": {
      "get": {
        "operationId": "searchAnnouncements",
        "summary": "Søk i BRREG-kunngjøringer på tvers av orgnr",
        "description": "Cross-orgnr-søk i BRREG-kunngjøringer. Filter på type, dato-range,\norgnr og fri-tekst.\n\nEnglish: Cross-orgnr search in BRREG announcements.\n",
        "tags": [
          "Risiko"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Substring-match (ILIKE) på `kunngjoring_type`.",
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "type": "string",
            "format": "date"
          },
          {
            "name": "to",
            "in": "query",
            "type": "string",
            "format": "date"
          },
          {
            "name": "orgnr",
            "in": "query",
            "type": "string",
            "pattern": "^\\d{9}$"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Fri-tekst-søk i navn (ILIKE).",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "default": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AnnouncementsSearchResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/risikoscoring/score/{orgnr}": {
      "get": {
        "operationId": "getRiskScore",
        "summary": "Risikoscore 0-100 + nivå + komponenter",
        "description": "Strukturert risikoscore (0-100) + nivå (lav/moderat/høy/kritisk)\n+ komponenter (FIV-status, regnskaps-trend, kunngjøringer ...).\n\n**Compliance-gate:** Markert `marketplace_hidden=true` i prod\nfrem til Lars åpner gate (ENK-sperre + kredittbruk-bekreftelse\ner ferdigstilt). Returnerer 403 i prod.\n\nEnglish: Marketplace-hidden until compliance gate is opened.\n",
        "tags": [
          "Risiko",
          "Markedsplass"
        ],
        "x-firmaradar-compliance-gate": "marketplace_hidden",
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^\\d{9}$"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RiskScoreResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "description": "Compliance-gate aktiv (marketplace_hidden=true).\n",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/fiv/assess/{orgnr}": {
      "get": {
        "operationId": "checkForetakIVanskeligheter",
        "summary": "Foretak-i-vanskeligheter-status (NUES a-e-regler)",
        "description": "FIV-vurdering iht NUES-reglene a-e (basert på siste tilgjengelige\nregnskap + mellombalanse-overlay).\n\nEnglish: Financial-distress assessment (Norwegian NUES a-e rules).\n",
        "tags": [
          "Risiko",
          "Markedsplass"
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^\\d{9}$"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FivResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/konsernstotte/oversikt/{orgnr}": {
      "get": {
        "operationId": "getKonsernstotte",
        "summary": "Offentlig støtte gjennom konsernet",
        "description": "Tre-struktur av offentlig støtte (NAV-tildelinger, koronastøtte,\nBRREG støtteregister, Innovasjon Norge, SkatteFUNN). Returnerer\n`selskap_stotte` (direkte) + `konsern_aggregat` (aggregert\noppover) per ny respons-form (post-#134, kommit `0deeb7b`).\n\nEnglish: Public-grants overview through the corporate group.\n",
        "tags": [
          "Markedsplass"
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^\\d{9}$"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KonsernStotteOversikt"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/companies/search": {
      "get": {
        "operationId": "searchCompanies",
        "summary": "Unified selskap-søk (q + nace + kommune + paginering)",
        "description": "Unified søk på tvers av selskapsnavn (`q`), NACE-kode (`nace`)\nog kommune (`kommune`). Cursor-pagination. NYTT endpoint i v0.3\n— erstatter klient-side hybrid av `/api/autocomplete` +\n`/api/v1/nace/{code}/companies`.\n\nEnglish: Unified company search endpoint introduced in v0.3.\n",
        "tags": [
          "Selskap"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Fri-tekst-søk i selskapsnavn (case-insensitive).",
            "type": "string"
          },
          {
            "name": "nace",
            "in": "query",
            "type": "string",
            "pattern": "^\\d{2}(?:\\.\\d{1,3})?$"
          },
          {
            "name": "kommune",
            "in": "query",
            "type": "string",
            "pattern": "^\\d{4}$"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 20
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanySearchResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/companies/compare": {
      "post": {
        "operationId": "compareCompanies",
        "summary": "Sammenlign regnskaps-metrics for flere selskap",
        "description": "Server-side orkestrering: henter regnskaps-historikk parallelt\nfor 1-5 orgnrs og returnerer aligned metric/year-matriser.\nNYTT endpoint i v0.3 — erstatter klient-side fan-out i\ncompare_companies MCP-tool.\n\nEnglish: Server-side compare-companies endpoint introduced in v0.3.\n",
        "tags": [
          "Selskap"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompareRequest"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompareResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/person/get": {
      "get": {
        "operationId": "getPerson",
        "summary": "Hent person-profil (orkestrert klient-side)",
        "description": "**Klient-side-tool** — dette MCP-tool-et orkestrerer\n`searchPersons` + `getPersonRoles` + `getPersonCompanies` i ett\nkall, og finnes ikke som eget Flask-endepunkt. Spec inkluderer\ndet her som dokumentasjons-anker for tool-konsumentene.\n\nEnglish: Client-side orchestrated tool — no dedicated Flask route.\n",
        "tags": [
          "Person"
        ],
        "x-firmaradar-client-side": true,
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string",
            "minLength": 2
          },
          {
            "name": "birth_year",
            "in": "query",
            "type": "integer",
            "minimum": 1900,
            "maximum": 2100
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PersonProfile"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/company/{orgnr}/recent-changes": {
      "get": {
        "operationId": "getRecentChanges",
        "summary": "Nylige BRREG-kunngjøringer (alias til /changes)",
        "description": "**Alias-dokumentasjon** — `get_recent_changes` MCP-tool bruker\nsamme backend som `getCompanyChanges`\n(`/api/v1/company/{orgnr}/changes`). Spec eksponerer eget\noperationId for å gi 1-til-1-mapping mellom 22 MCP-tools og\nOpenAPI-operations.\n\nEnglish: Alias documentation — same backend as getCompanyChanges.\n",
        "tags": [
          "Risiko"
        ],
        "x-firmaradar-alias-of": "getCompanyChanges",
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^\\d{9}$"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Announcement"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/company/{orgnr}/announcements": {
      "get": {
        "operationId": "getCompanyAnnouncements",
        "summary": "BRREG-kunngjøringer (alias til /changes)",
        "description": "**Alias-dokumentasjon** — `get_company_announcements` MCP-tool\nbruker samme backend som `getCompanyChanges`\n(`/api/v1/company/{orgnr}/changes`).\n\nEnglish: Alias documentation — same backend as getCompanyChanges.\n",
        "tags": [
          "Selskap",
          "Risiko"
        ],
        "x-firmaradar-alias-of": "getCompanyChanges",
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^\\d{9}$"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Announcement"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/regnskap/{orgnr}/historikk": {
      "get": {
        "operationId": "getCompanyFinancials",
        "summary": "Regnskaps-historikk (legacy-path)",
        "description": "Henter regnskaps-historikk (omsetning, driftsresultat, EK osv.)\nfor et selskap, default 5 år tilbake. **Legacy-path:** dette er\nikke under `/api/v1/`, men brukes av MCP-tools og portal-UI.\n\nEnglish: Financial-history endpoint (legacy path, used by MCP\ntools and the portal UI).\n",
        "tags": [
          "Selskap"
        ],
        "parameters": [
          {
            "name": "orgnr",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^\\d{9}$"
          },
          {
            "name": "years",
            "in": "query",
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 5
          },
          {
            "name": "regnskapstype",
            "in": "query",
            "type": "string",
            "enum": [
              "SELSKAP",
              "KONSERN"
            ],
            "default": "SELSKAP"
          },
          {
            "name": "skip_freshness",
            "in": "query",
            "type": "integer",
            "enum": [
              0,
              1
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FinancialHistoryResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/ServerError"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/openapi.yaml": {
      "get": {
        "operationId": "getOpenApiYaml",
        "summary": "OpenAPI 3.0-spec som YAML",
        "description": "Returnerer hele OpenAPI-spec-en som YAML.  Offentlig, CORS-enabled.\n",
        "tags": [
          "Selskap"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": []
      }
    },
    "/api/openapi.json": {
      "get": {
        "operationId": "getOpenApiJson",
        "summary": "OpenAPI 3.0-spec som JSON",
        "description": "Returnerer hele OpenAPI-spec-en som JSON. Offentlig, CORS-enabled.\n",
        "tags": [
          "Selskap"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": []
      }
    }
  }
}